
*{
    padding: 0;
    margin: 0;
    font-family:"Jost", helvetica;
}

a {
    text-decoration: none;
    color: black;

}

a:visited{
    color: white;
}

p{
    line-height: 30px;
}

p i {
    font-size: smaller;
}

html {
    background-color: #FAFAFA;
}


/* ------------------MAIN-------------------- */

main {
    background-color: #FEFEFE;
    margin-top: 120px;
}

#consulta-inscripciones {
    padding-bottom: 40px;
}

#consulta-inscripciones > div {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding-bottom: 40px;
}

#consulta-inscripciones a {
    text-decoration: underline;
    color: black;
}

#consulta-inscripciones a:visited{
    color: #343F64;
}

h2{
    color: #343F64;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

p {
    font-size: 20px;
    color: #343F64;
    text-align: center;
}

/* ----------------------TABLET------------------------*/

@media (max-width: 1023px){


}

/* ----------------------CELULAR------------------------*/

@media (max-width: 650px){

    /*-----------CONSULTA-INSCRIPCIONES------------*/

    #formulario-consulta{
        height: 2500px;
    } 

    
}