
/* ------------------HEADDER---------------- */

header {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    background-color: #DADADA;
    display: inline-flex;
    justify-content: space-around;
}

header div{
    display: block;
} 

#logo-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: max-content;
}


#logo-container img {
    margin-top: 30px;
    width: 85px;
}

#contacto-header {
    width: max-content;
    /* height: 175px; */
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}

#ig, #mail {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color linear 350ms;
}

#mail {
    background-color: rgb(87, 135, 104);
}

#mail:hover {
    border: rgb(87, 135, 104) 3px solid;
    background-color: unset;
    transition: background-color linear 350ms;
}

#mail:hover i {
    color: rgb(87, 135, 104);
}

#ig {
    background-color: #343F64;
}

#ig:hover {
    border: #343F64 3px solid;
    background-color: unset;
    transition: background-color linear 350ms;
}

#ig:hover i {
    color: #343F64;
}

a #sobre {
    color: aliceblue;
    font-size: 22px;
}

a #ig-logo {
    color: aliceblue;
    font-size: 22px;
}

#contacto-container {
    text-align: center;
}

h4 {
    color: #343F64;
    font-size: 17px;
}

#contacto-container p{
    font-size: 15px;
}

#menu-nav {
    position: relative;
    display: inline-block;
}

.menu-button {
    background-color: #343F64;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#menu-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 150px;
}

#menu-dropdown li {
    padding: 10px;
    white-space: nowrap;
}

#menu-dropdown li a {
    text-decoration: none;
    color: #343F64;
    display: block;
}

#menu-dropdown li:hover {
    background-color: #ddd;
}

#menu-nav:hover #menu-dropdown {
    display: block;
    right: 0; 
}

/* ----------------------TABLET------------------------*/

@media (max-width: 1023px){

    #ig, #mail {
        display: none;
    }
}

/* ----------------------CELULAR------------------------*/

@media (max-width: 650px){
    
    #logo-container{
        width: 140px;
        height: 140px;
    }

    #logo-container img{
        width: 70px;
    }

    #contacto-header {
        width: max-content;
        padding-right: 10px;
        gap: 5px;
        flex-direction: column;
    }

    #menu-nav{
        width: 100%;
    }

    .menu-button{
        font-size: 14px;
        padding: 10px 10px;
        width: 100%;
    }
}
