
*{
    padding: 0;
    margin: 0;
    font-family:"Jost", helvetica;
}

a {
    text-decoration: none;
    color: black;

}

a:visited{
    color: white;
}


p{
    line-height: 30px;
}

p i {
    font-size: smaller;
}

html {
    background-color: #FAFAFA;
}

/* ------------------MAIN-------------------- */

main {
    background-color: #FEFEFE;
    margin-top: 120px;
    padding-bottom: 40px;
}


h1 {
    padding: 80px 0 50px 0;
    font-size: 60px;
    color: #343F64;
    text-align: center;
}
h2{
    font-size: 45px;
    color: #343F64;
    text-align: center;
    margin-bottom: 20px;
}

h3{
    font-size: 40px;
    color: #343F64;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: #69718b;
    text-align: justify;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

section > div {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    padding: 50px 25px;
}

/* -----------------ESCUELA SEC BASICA------------------ */

.img-mobile{
    display: none;
}

#chicos-comp{
    float: left;
}
#chicos-lab{
    float: right;
}

#objetivos{
    display: flex;
    justify-content: center;
    align-items: center;
}

#chicos-en-ronda{
    width: 400px;
    border: white 4px solid;
    border-radius: 6px;
    box-shadow: black 0 0 21px;
    margin: 30px;
    rotate: 5deg;
}

/* -----------------ESCUELA SEC SUPERIOR------------------ */
.img-centrada {
    display: block;
    margin: auto;
}

/* ----------------------TABLET------------------------*/

@media (max-width: 1023px){

    h1{
        padding: 60px 0 0 0;
    }

    /* -----------------ESCUELA SEC BASICA------------------ */
    #chicos-lab{
        float: unset;
        display: block;
        margin: auto;
    }

    #objetivos{
        flex-direction: column;
    }
}


/* ----------------------CELULAR------------------------*/

@media (max-width: 650px){

    h1 {
        font-size: 40px;
        padding: 50px 0 30px 0;
    }

    main img {
        width: 100%;
    }

    #chicos-en-ronda{
        margin-top: 50px;
        width: 80%;
    }

    section{
        padding: 20px 0;
    }

    section > div {
        padding: 0 30px;
    }

    h3{
        font-size: 28px;
    }

    p{
        font-size: 18px;
    }

    /* -----------------ESCUELA SEC BASICA------------------ */
    h2{
        font-size: 32px;
    }
    .img-desk{
        display: none;
    }
    .img-mobile{
        display: block;
    }
    #chicos-lab{
        display: none;
    }
    
}