
*{
    padding: 0;
    margin: 0;
    font-family:"Jost", helvetica;
}

a {
    text-decoration: none;
    color: black;

}

a:visited{
    color: white;
}


p{
    line-height: 30px;
}

p i {
    font-size: smaller;
}

html {
    background-color: #FAFAFA;
}

/* ------------------MAIN-------------------- */

main {
    background-color: #FEFEFE;
    margin-top: 120px;
    padding-bottom: 40px;
}


h1 {
    padding: 80px 0 50px 0;
    font-size: 60px;
    color: #343F64;
    text-align: center;
}

h3{
    font-size: 30px;
    color: #343F64;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    color: #69718b;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

section > div {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    padding: 0 25px;
}

/* ------------------Aproximacion Psicologica -------------------- */

.img-descripcion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

#aprox-dos{
    flex-direction: row-reverse;
}

#horarios{
    scroll-margin-top: 120px;
}

.turnos{
    text-align: center;
}

#ninio-lupa{
    width: 285px;
    border: white 4px solid;
    border-radius: 6px;
    box-shadow: black 0 0 21px;
    margin: 30px;
    rotate: -5deg;
}

/* ----------------------TABLET------------------------*/

@media (max-width: 1023px){

    h1{
        padding: 60px 0 0 0;
    }

    .img-descripcion{
        flex-direction: column;
        text-align: center;
    }
    .img-descripcion p {
        text-align: justify;
    }

    #aprox-dos{
        flex-direction: column;
    }


}


/* ----------------------CELULAR------------------------*/

@media (max-width: 650px){

    h1 {
        font-size: 40px;
        padding: 50px 0 30px 0;
    }

    main img {
        width: 100%;
    }
    
    #ninio-lupa{
        width: 80%;
    }

    section{
        padding: 20px 0;
    }

    section > div {
        padding: 0 30px;
    }

    h3{
        font-size: 32px;
    }

    p{
        font-size: 18px;
    }
}