
/* ------------------FOOTER-------------------- */

footer {
    padding: 25px 0 40px;
    background-color: #343F64;
}

.barra {
    height: fit-content;
    margin-top: 60px;
    height: 30px;
    width: 0;
    border: #959CB2 solid 1px;
}

#legales {
    text-align: center;
    margin-bottom: 50px;
}

#legales a {
    font-size: 14px;
    color: #959CB2;
    margin: 10px;
}

#contacto-footer {
    padding: 0 10%;
}

#contacto-footer ul{
    display: flex;
    align-items: top;
    justify-content: space-around;
}

#contacto-footer li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

footer p {
    font-size: 15px;
    color: #959CB2;
    text-align: center;
}

#contacto-footer li a {
    color: #959CB2;
}

#redes-footer {
    margin-bottom: 42px;
    display: flex;
    align-items: top;
    justify-content: space-around;
}

footer li h5 {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}
footer li i {
    color: #FFFFFF;
}

#contactanos h5{
    margin-bottom: 25px;
}

#direccion h5{
    margin-bottom: 40px;
}


/* ----------------------CELULAR------------------------*/

@media (max-width: 650px){
 
    #contacto-footer ul{
        flex-direction: column;
    }

    #contacto-footer li{
        display: grid;
        justify-content: center;
    }

    .barra{
        height: 0;
        width: 100px;
        margin: 0;
    }
}